body {
    /* Old browsers */
    background: #141E30;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-45deg, #35577D, #141E30);
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: white;
}

.language{
    background-color: white;
    color: blue;
    opacity: 0.8;
}

.content{
    color: white;
}

.information{
    color: red;
    /*background-color: white;
    opacity: 0.8;*/
}