body {
    background: white;
    margin: 0 auto;
    padding: 0;
    min-width: 600px;
    max-width: 1000px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #00BFFF;
}

a:hover {
    color: #4682B4;
    text-decoration: underline;
}

.title{
    background-color: #9bddff;
    color: #4169E1;
    margin: 0px 0px;
    padding: 10px 10px;
}

.title a{
    display: inline-block;
    color: #4169E1;
}

.language{
    border: 1px solid #4169E1;
    padding: 0px 0;
    background-color: #4169E1;
    opacity: 1;
}

.language a {
    background: pink;
    border: 1px solid pink;
    border-radius: 3px;
    margin: 5px 10px;
    padding: 0px 5px;
    color: black;
    display: inline-block;
    text-decoration: none;
}

.content{

}

.information{
    color: red;
    /*background-color: white;
    opacity: 0.8;*/
}
