body {
    background-color: white;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

.language{
    border: 1px solid LightGrey;
    padding: 10px;
    background-color: black;
    color: white;
    opacity: 1;
}

.language a {
    background: red;
    border: 1px solid red;
    border-radius: 3px;
    margin: 5px 15px;
    padding: 5px 5px;
    color: white;
    display: inline-block;
    text-decoration: none;
}

.content{

}

.information{
    color: red;
    /*background-color: white;
    opacity: 0.8;*/
}
